.section-role-policy {
    h2 {
        margin-bottom: $spacer;
    }
    ul {
        margin-bottom: 0;
    }
    .role-policy > div {
        position: relative;
        margin-left: 1.5em;

        svg {
            position: absolute;
            left: -1.5em;
            top: 0.2em;
        }
    }
}
