.section-user-detail {
    dd {
        line-height: 2.35em;
        margin-left: 0.8em;
    }
    dt a {
        font-weight: normal;

        &.text-danger {
            color: $red !important;
        }
    }
    .user-edit-active {
        margin-left: 0;
    }
}
